// я╚убап╠М
.medal-list{
    margin-right: -20px;
    *zoom:1;
    .item{        
        padding-top: 35px;
        padding-bottom: 5px;
        margin-left: 18px;
        margin-right: 18px;
        .pic-widget{
            .icon{
                $size:35px;
                position:absolute;
                left:50%;
                top:50%;
                margin:(-$size)/2 0 0 (-$size)/2;
            }
        }
        
    }
    &-s{
        @extend %dis-inb;
        .item{
            @extend %dis-inb;
            float: left;
            // margin-right: 5px;
            &-tit{
                padding:8px;
            }
            .icon-layer-con{
                padding:10px 0 0 10px;
                font-size: 0;
                .icon{
                    margin:0 7px 10px 0;
                }
            }
        }        
    }
}
.drop-down-shadow{
    .drop-down-shadow-tit{        
        .extend{
            position:absolute;
            right: 2px;
            top:8px;
        }

    }
}