// arrow for 4 directions
@mixin arrow($color,$direction,$size){
    $d : 'bottom' !default;
    $size:4px !default;
    @extend %dis-inb;
    width: 0;
    height: 0;
    overflow: hidden;
    border:$size dashed transparent;
    @if $direction == 'top' {
        $d : 'bottom';        
    }
    @if $direction == "bottom" {
        $d : "top";        
    }
    @if $direction == 'left' {
        $d : 'right';
    }
    @if $direction == "right" {
        $d : "left";
    }
    border-#{$d}-style:solid;
    border-#{$d}-color:$color;
}