// setting
$font:12px/1.5 Microsoft Yahei;
$color:#333;
$bodyBgColor:#fff;

$c-link:#333;
$c-hover:#f30;

$c-red:#f03200;
$c-orange:#f60;
$c-blue:#2b86cd;

$c-gray:#666;
$c-gray-dark:#333;
$c-gray-light:#999;

$c-line:#e5e5e5;

$base-width:1000px;

$img:'../images/';

$version:'?20160519';
